*, html {
    scroll-behavior: smooth !important;
}

@font-face {
  font-family: "Kamerik105";
  src: url("/fonts/Kamerik105-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYMEDIUM.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYBOLD.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

.SF {
  font-family: "SF Pro Display", sans-serif;
}

input:focus, input:focus-visible, textarea, select{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea{
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}


.cta{
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  cursor: pointer
}

.cta:hover {
  color: #ffffff;
  transition: all 0.2s;
}

.cta:hover::before {
  transform: translateX(-100%);
  transition: all 0.3s
}

.cta::before{
  z-index: -1;
  display: flex;
  position: absolute;
  content: '';
  width: 300px;
  height: 40px;
  background: #ffffff;
  transition: all 0.3s
}

.cta-dark{
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  cursor: pointer
}

.cta-dark:hover {
  color:rgb(255, 255, 255);
  transition: all 0.2s;
}

.cta-dark:hover::after {
  transform: translateX(0%);
  transition: all 0.3s
}

.cta-dark::after{
  z-index: -1;
  display: flex;
  position: absolute;
  content: '';
  width: 300px;
  height: 40px;
  transform: translateX(100%);
  background:rgb(0, 0, 0);
  transition: all 0.3s
}

.footer_gradiant{
  background: linear-gradient(139deg, #1F1F1F 26.92%, #FFF 236.63%);
}
