<!DOCTYPE html>
<html>
	<head>
		<title>Aska -
		</title>
		<link
		href="public/styles/panel.css" rel="stylesheet"/>
	 <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

	</head>
	<body class="w-[100vw] overflow-x-hidden SF"> {% block body %}{% endblock %}{% block scripts %}{% endblock %}
		</body>
	</html>
